#mainTopic{
    color:blue;
}
*{
    text-align: center;
}
h{
    font-style: georgia;
}
p{
    color:white;
    background-color: cornflowerblue;
}
div button{ 
    background-color: purple;
    text-emphasis-color: azure;
    transition: 2s;
    height: 100px;
}
button:hover{
    background-color: yellow;
    color: blue;
    border-radius: 40%;
    
}
p:nth-of-type(odd){
    color: yellow;
}
h1::first-letter{
    color: red;
}
input:checked{
    color: darkgreen;
}